* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 96vh;
  width: 98vw;
  font-family: "Open Sans", sans-serif;
  animation: changeBackgroundColor 7s infinite;
  color: white;
}

@keyframes changeBackgroundColor {
  0% {
    background-color: #001f3f;
  }
  50% {
    background-color: #ff6262;
    color: black;
  }
  100% {
    background-color: #001f3f;
  }
}

section {
  height: 100%;
  width: 90%;
  margin: 0px auto;
}

.banner-sction {
  padding: 150px 100px;
}

.banner-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-desc > h1 {
  margin: 20px 0;
  font-size: 1.9rem;
}

.banner-desc > p {
  width: 90%;
  font-size: 1.2rem;
  font-weight: 400;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  margin: 25px 0;
  padding: 14px 25px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: rgb(0, 0, 100);
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease-in;
}

.btn:hover {
  background-color: rgba(0, 0, 100, 0.555);
}

.btn-logo {
  width: 25px;
  height: 25px;
  margin-right: 13px;
  object-fit: contain;
}

.banner-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  max-width: 450px;
  height: 400px;
  animation: rotateAni 4s ease infinite;
}

@keyframes rotateAni {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.banner-img > img {
  display: block;
  height: 65%;
  object-fit: contain;

  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

@media only screen and (min-width: 1367px) {
  section {
    height: 100%;
    width: 80%;
    margin: 0px auto;
  }
  .banner-desc > p {
    width: 70%;
    font-size: 1.2rem;
  }
  .banner-img > img {
    height: 85%;
  }
}
